cmake

# Fixed to 5.0 based on this
# https://github.com/sonarsource-cfamily-examples/linux-cmake-gcovr-gh-actions-sc/blob/main/.github/workflows/build.yml#L25
# check if this is still needed when wants to update
gcovr==5.0
